---
import { Site } from '../../constants'
---

<a href={Site.homepage || '/'} class="relative">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 307.42 495.36"
        class="h-10 w-10 dark:opacity-0"
    >
        <path
            d="M359.83,65.22Q309.94,16,220.43,16H102.29V399.81H140.1c-6.94-23.63-6.36-49.92-.22-70.16l10.88-35.9,24,28.82c11.08,13.3,26.52,17.86,46.28,20.63l.5.07.51.1A145.17,145.17,0,0,0,308.8,333.3l5.28-3.3,2.89-2.17,22.1-16.58,9.13,26.08a78.27,78.27,0,0,1,4,17.42c1.94-1.7,3.85-3.42,5.7-5.21q51.84-50.28,51.85-145.31Q409.71,114.44,359.83,65.22ZM272.45,257.65l-22.3-69.2c-.84-3.57-3.37-5.89-6.1-5.89s-5.26,2.32-6.1,5.68l-22.72,69.62a157.89,157.89,0,0,0-59.94,14.52l50.9-138.2c1.47-4.2,4-6.73,7.15-6.73h61c3.15,0,5.68,2.53,7.15,6.73l50.9,138.2S308,257.65,272.45,257.65Z"
            transform="translate(-102.29 -16)"></path>

        <path
            d="M259.58,500.57A65.37,65.37,0,0,1,221.29,441v-1.78a84.38,84.38,0,0,0-.82-14.76l0-.13,0-.14c-1.67-13.38-7.69-16.33-16.23-16.63-.43,0-.78,0-1.13,0a19.57,19.57,0,0,0-19.25,16l0,.29-.09.28c-.3,1-.58,1.94-.84,2.93l-2.11,8-6.1-5.6c-24-22.05-29.15-65.84-20.18-95.44l2.69-8.87,5.93,7.12c15.05,18.06,35.74,23.15,55.87,26l.12,0,.13,0a160.92,160.92,0,0,0,30.27,2.88A159.3,159.3,0,0,0,316,346.75l6.7-4.19,8.87-6.65,2.26,6.45a60.6,60.6,0,0,1,2.92,29.12,76.52,76.52,0,0,1-32.47,54.39c-4.7,3.42-9.57,6.77-14.47,9.95l-6.66,4.44c-19.8,13.33-25,28.11-17.89,50.87l1.34,2v10.53Z"
            transform="translate(-102.29 -16)"
            style="fill: #ff7e33"></path>
    </svg>

    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 307.42 495.36"
        class="h-10 w-10 hidden dark:block absolute top-0"
    >
        <path
            d="M359.83,65.22Q309.94,16,220.43,16H102.29V399.81H140.1c-6.94-23.63-6.36-49.92-.22-70.16l10.88-35.9,24,28.82c11.08,13.3,26.52,17.86,46.28,20.63l.5.07.51.1A145.17,145.17,0,0,0,308.8,333.3l5.28-3.3,2.89-2.17,22.1-16.58,9.13,26.08a78.27,78.27,0,0,1,4,17.42c1.94-1.7,3.85-3.42,5.7-5.21q51.84-50.28,51.85-145.31Q409.71,114.44,359.83,65.22ZM272.45,257.65l-22.3-69.2c-.84-3.57-3.37-5.89-6.1-5.89s-5.26,2.32-6.1,5.68l-22.72,69.62a157.89,157.89,0,0,0-59.94,14.52l50.9-138.2c1.47-4.2,4-6.73,7.15-6.73h61c3.15,0,5.68,2.53,7.15,6.73l50.9,138.2S308,257.65,272.45,257.65Z"
            transform="translate(-102.29 -16)"
            fill="#fff"
        >
        </path>

        <path
            d="M259.58,500.57A65.37,65.37,0,0,1,221.29,441v-1.78a84.38,84.38,0,0,0-.82-14.76l0-.13,0-.14c-1.67-13.38-7.69-16.33-16.23-16.63-.43,0-.78,0-1.13,0a19.57,19.57,0,0,0-19.25,16l0,.29-.09.28c-.3,1-.58,1.94-.84,2.93l-2.11,8-6.1-5.6c-24-22.05-29.15-65.84-20.18-95.44l2.69-8.87,5.93,7.12c15.05,18.06,35.74,23.15,55.87,26l.12,0,.13,0a160.92,160.92,0,0,0,30.27,2.88A159.3,159.3,0,0,0,316,346.75l6.7-4.19,8.87-6.65,2.26,6.45a60.6,60.6,0,0,1,2.92,29.12,76.52,76.52,0,0,1-32.47,54.39c-4.7,3.42-9.57,6.77-14.47,9.95l-6.66,4.44c-19.8,13.33-25,28.11-17.89,50.87l1.34,2v10.53Z"
            transform="translate(-102.29 -16)"
            style="fill: #ff7e33"></path>
    </svg>
</a>
