---
import { Site } from '../../constants'
---

<a href={Site.homepage || '/'} class="relative flex items-center gap-4">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 307.42 495.36"
        class="h-10 w-10"
    >
        <path
            d="M359.83,65.22Q309.94,16,220.43,16H102.29V399.81H140.1c-6.94-23.63-6.36-49.92-.22-70.16l10.88-35.9,24,28.82c11.08,13.3,26.52,17.86,46.28,20.63l.5.07.51.1A145.17,145.17,0,0,0,308.8,333.3l5.28-3.3,2.89-2.17,22.1-16.58,9.13,26.08a78.27,78.27,0,0,1,4,17.42c1.94-1.7,3.85-3.42,5.7-5.21q51.84-50.28,51.85-145.31Q409.71,114.44,359.83,65.22ZM272.45,257.65l-22.3-69.2c-.84-3.57-3.37-5.89-6.1-5.89s-5.26,2.32-6.1,5.68l-22.72,69.62a157.89,157.89,0,0,0-59.94,14.52l50.9-138.2c1.47-4.2,4-6.73,7.15-6.73h61c3.15,0,5.68,2.53,7.15,6.73l50.9,138.2S308,257.65,272.45,257.65Z"
            transform="translate(-102.29 -16)"
            fill="currentColor"></path>

        <path
            d="M259.58,500.57A65.37,65.37,0,0,1,221.29,441v-1.78a84.38,84.38,0,0,0-.82-14.76l0-.13,0-.14c-1.67-13.38-7.69-16.33-16.23-16.63-.43,0-.78,0-1.13,0a19.57,19.57,0,0,0-19.25,16l0,.29-.09.28c-.3,1-.58,1.94-.84,2.93l-2.11,8-6.1-5.6c-24-22.05-29.15-65.84-20.18-95.44l2.69-8.87,5.93,7.12c15.05,18.06,35.74,23.15,55.87,26l.12,0,.13,0a160.92,160.92,0,0,0,30.27,2.88A159.3,159.3,0,0,0,316,346.75l6.7-4.19,8.87-6.65,2.26,6.45a60.6,60.6,0,0,1,2.92,29.12,76.52,76.52,0,0,1-32.47,54.39c-4.7,3.42-9.57,6.77-14.47,9.95l-6.66,4.44c-19.8,13.33-25,28.11-17.89,50.87l1.34,2v10.53Z"
            transform="translate(-102.29 -16)"
            style="fill: #ff7e33"></path>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 87.27" class="h-6">
        <path
            d="M183.43,274.39V258.16c0-17.51-13.58-26.77-39.47-26.77-25,0-41.25,9.64-43.28,23.6H114c2-9.39,12.57-14.34,30-14.34,17.13,0,27.29,6,27.29,16.11V258l-39.6,2.28c-16.12.89-22.09,3.17-26.66,6.47a16.73,16.73,0,0,0-6.72,13.83c0,12.05,12.43,19,31.6,19,21.19,0,34-5.08,41.5-15.61a86.9,86.9,0,0,0,.89,13.2h12.56C183.68,290.63,183.43,286.32,183.43,274.39Zm-12.18-5.2c0,13.32-15.62,21.44-37.32,21.44-14.72,0-22.84-3.43-22.84-10.27,0-7.36,5.07-10.66,23-11.8l37.19-2.28Z"
            transform="translate(0 -212.36)"
            fill="currentColor"></path>
        <path
            d="M242.24,299.64c26.27,0,36.81-8.63,36.81-21.19,0-10.4-6.47-15.73-23-17.12l-30.84-2.41c-8.38-.64-13.08-3.05-13.08-8.25,0-6.59,7.24-10,22.85-10,17.77,0,27,3.55,33.12,11.42l10.29-4.95c-6.35-9.89-20.44-15.73-42.27-15.73-22.46,0-35.92,7.49-35.92,19.79,0,11,8,16.36,23.1,17.63l30.59,2.41c10,.76,13.07,2.79,13.07,8,0,7.49-7.74,11-23.1,11-18.65,0-30.46-5.08-36.17-14.34l-10,5.46C205.44,293,219,299.64,242.24,299.64Z"
            transform="translate(0 -212.36)"
            fill="currentColor"></path>
        <path
            d="M305,243.31v30.58c0,12.55,4.31,25.11,27.79,25.11,6,0,13.2-1.14,16.38-2.54V286.19a69.64,69.64,0,0,1-15,1.78c-11,0-17-4.32-17-15.23V243.31h31.73V233.8H317.2V212.36L305,217.31V233.8H285.09v9.51Z"
            transform="translate(0 -212.36)"
            fill="currentColor"></path>
        <path
            d="M379.19,233.8H368v63.43h12.06V273.5c0-9.13,1.77-16.87,6.85-22.19,4.44-4.95,10.16-7.74,20.18-7.74a44,44,0,0,1,8.51.76V232.66a33.43,33.43,0,0,0-8.38-.76c-13.58,0-24.37,8-28.05,20.29V233.8Z"
            transform="translate(0 -212.36)"
            fill="currentColor"></path>
        <path
            d="M466.44,231.39c-27,0-45.57,13.7-45.57,34.12s18.53,34.13,45.57,34.13S512,285.94,512,265.51,493.47,231.39,466.44,231.39Zm0,58.22h0c-19.93,0-32.75-9.39-32.75-24.11s12.82-24.1,32.75-24.1,32.74,9.39,32.74,24.1S486.24,289.61,466.44,289.61Z"
            transform="translate(0 -212.36)"
            fill="currentColor"></path>
        <path
            d="M43.92,231.39H0v68.25H43.51c25.06,0,41.89-14.2,41.89-35.34C85.4,243.38,70.28,231.39,43.92,231.39Zm-3.55,59H15.3V240.65h25c17.18,0,27.83,9.17,27.83,23.92C68.1,280.73,57.73,290.38,40.37,290.38Z"
            transform="translate(0 -212.36)"
            style="fill: #ff7e33"></path>
    </svg>
</a>
