---
import LeftSideBar from '../components/left sidebar/component.astro'
import Header from '../components/header/component.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Header />

        <main>
            <LeftSideBar />

            <div>
                <article>
                    <slot />
                </article>
            </div>
        </main>
    </body>
</html>
