---
import LeftSideBar from '../components/left sidebar/component.astro'
import Header from '../components/header/component.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>

    <body
        class="bg-gradient-to-b from-light-200 dark:from-dark-700 to-light-700 dark:to-dark-900 min-h-screen text-dark-500 dark:text-light-500"
    >
        <Header />

        <main>
            <LeftSideBar />

            <div>
                <article>
                    <slot />
                </article>
            </div>
        </main>
    </body>
</html>
